### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule zatrudnij-na-staz index.html
RewriteRule kim-jestem ja.html
RewriteRule co-oferuje oferta.html
RewriteRule cv Cv.html
RewriteRule kontakt kontakt.html